<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michi.manajemenbengkel.gold">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pict"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pict"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".manager.ListUserActivity"
            android:exported="true" />
        <activity
            android:name=".manager.ManagerActivity"
            android:exported="true" />
        <activity
            android:name=".kasir.ActivityDetailTransaksi"
            android:exported="true" />
        <activity
            android:name=".kasir.ListTransaksiActivity"
            android:exported="true" />
        <activity
            android:name=".teknisi.ProfileTeknisiActivity"
            android:exported="false" />
        <activity
            android:name=".teknisi.HistoryTeknisiActivity"
            android:exported="false" />
        <activity
            android:name=".teknisi.TeknisiWorkActivity"
            android:exported="false" />
        <activity
            android:name=".warehouse.ListItem"
            android:exported="false" />
        <activity
            android:name=".warehouse.FormWarehouse"
            android:exported="false" />
        <activity
            android:name=".teknisi.MainActivity"
            android:exported="false" />
        <activity
            android:name=".koneksi.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".koneksi.LoginActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>